.colors ul {
  margin: 0;
  padding: 0;
  width: 1100px;
  max-width: 100%;
  display: inline-block;
}
div#selector {
  margin: 0 auto;
  text-align: center;
}
/* ul li {
  border: solid 4px #ddd;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 5em;
  cursor: pointer;
} */
#selector > ul.filter {
  margin: 2em auto;
}
#selector > ul.filter li {
  padding: 12px;
  width: 10%;
  height: 10%;
  margin: 0 auto;
  display: inline-flex;
  border-radius: 50%;
  border: 2px solid #ddd;
  text-align: center;
  line-height: 150px;
}
ul.filter li.red {
  background: red;
  align-items: center;
  color: #fff;
}
ul.filter li.yellow {
  background: yellow;
}
ul.filter li.blue {
  background: blue;
  color: #fff;
}
ul.filter li.white {
  background: white;
}
ul.filter li.skyblue {
  background: #abbedf;
  color: #fff;
}
ul.filter li.orange {
  background: orange;
  color: #fff;
}
ul.filter li.purple {
  background: #3d3861;
  color: #fff;
}
ul.filter li.mint {
  background: #bfe5d9;
}
ul.filter li.black {
  background: black;
  color: #fff;
}
.post-slider {
  max-width: 800px;
  /* max-height: max-content; */
  height: fit-content;
  margin: 0px auto;
  position: relative;
  font-size: 5em;
  /* border: solid 4px #ddd; */
  /* border: 1px solid rgba(255, 0, 0, .5); */
  list-style: none;
  /*overflow: auto;*/
}
.post-slider ul li img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.slick-slider {
	display: table !important;
	table-layout: fixed !important;
	width: 100% !important;
}
.slick-arrow {
  z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
  position: absolute; /* 원하는 위치에 지정  */
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-25px);
}
.slick-prev.slick-arrow {
  /* prev 이전 */
  left: 0;
}
.slick-prev:before,
.slick-next:before {
  color: gray !important;
}
.slick-next.slick-arrow {
  /* next 다음 */
  right: 0;
}

/* 아래점 */
ul.slick-dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
}
ul.slick-dots li {
  display: inline-block;
  border: 0px;
  margin: 0 5px;
}
